MONGODB_URI=YOUR_MONGODB_URI
JWT_SECRET=YOUR_SECRET_KEY
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change-this-password
META_ACCESS_TOKEN=YOUR_META_ACCESS_TOKEN
FACEBOOK_ACCESS_TOKEN=YOUR_FACEBOOK_ACCESS_TOKEN
FB_PAGE_ID=1226110080580360
IG_BUSINESS_ID=17841446990145718
INSTAGRAM_USERNAME=YOUR_INSTAGRAM_USERNAME
CLOUDINARY_CLOUD_NAME=YOUR_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_API_KEY
CLOUDINARY_API_SECRET=YOUR_API_SECRET
BACKEND_URL=http://localhost:5000
